{% extends 'base.html' %}
{% block content %}
    <!-- Sequence Modern Slider -->
    <div>
        <!-- <img src="/assets/img/parallax-slider/images/main-bg.jpg" alt="" style="width:100%; height: 450px;"> -->
        <img src="/assets/img/parallax-slider/images/Logo home.png" alt="" style="width:100%; height: 450px;">
    </div>


    <div class="container">
      <div class="row mar-b-30">
        <div class="col-md-12">
          <div class="text-center feature-head wow fadeInDown">
            <h1 class="" style="margin:30px;">
              Welcome to FARMER TO CONSUMER
            </h1>

          </div>


          <!-- <div class="feature-box">
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                <img src="/assets/img/1.jpeg" alt="" style="width:350px; height:180px;">

                </em>
                <h4>
                  <b>FARMER TO CONSUMER</b>
                </h4>
              </div>
              <p class="text-center">
                An online shop evokes the physical analogy of buying products or services at a regular "bricks-and-mortar" retailer or shopping center.
              </p>
            </div> -->
            <!-- <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/2.jpg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>Order Management System</b>
                </h4>
              </div>
              <p class="text-center">
                Online stores typically enable shoppers to use "search" features to find specific models, brands or items. Online customers must have access.
              </p>
            </div> -->
            <!-- <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/3.jpg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>Customer Management System</b>
                </h4>
              </div>
              <p class="text-center">
                A typical online store enables the customer to browse the firm's range of products and services, view photos or images of the products
              </p>
            </div> -->
          </div>

          <!--feature end-->
        </div>
      </div>
    </div>


    <!--property start-->
    <div class="property gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
            <!-- <img src="/assets/img/p3.jpg" alt="" style="height:335px"> -->
            <img src="assets/img/p3.jpg" alt="" style="height:335px">
          </div>
          <div class="col-lg-6 col-sm-6 wow fadeInRight">
            <h1>
              About FARMER TO CONSUMER
            </h1>
            <hr>
            <p>Farmer-to-Consumer E-commerce is a digital marketplace that connects farmers directly with consumers, eliminating intermediaries and creating a more efficient and sustainable food supply chain. Consumers can easily browse and purchase fresh, locally grown produce online, bypassing traditional distribution channels.</p>
            <p></p>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <!--property end-->
    <script type="text/javascript" src="/assets/js/parallax-slider/jquery.cslider.js"></script>
	<script type="text/javascript">
		  $(function() {

			$('#da-slider').cslider({
			  autoplay    : true,
			  bgincrement : 100
			});

		  });
	</script>
  {% endblock content %}

